<span class="code">------->[DISABLED BY ADMIN] IF USER IS 'SIGNED_OUT' THEN SHOW 'PUBLIC_SECTION'.......</span>
<%= link_to "Sign in", '#', :class => "signin_button round" %>
<br />
<%= link_to "Register", '#', :class => "signup_button round" %>