<h1>All Fish Log Records</h1>

<%= render 'shared/log_table_header' %>
<%= render @logs %>
<%= render 'shared/log_table_footer' %>
<br />

<%= link_to 'New Log', new_log_path, :class => "button round" %>
